@use "vars";

.container-fluid {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.main {
    background: url("../images/background/background_desktop_bubbles.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}




.progress {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 5.5%;
    bottom: 6.3%;
    height: 7%;
    width: 40%;
    text-align: center;
}

form {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 99%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 1920px;
}

.logo__wrapper {
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;

    .img-fluid {
        width: 100%;
        position: relative;
        cursor: pointer;
        max-width: 595px;
        max-height: 500px;
        object-fit: contain;
    }
}

.logo1 {
    transform: skewY(3deg);

}
.logo2 {
    transform: skewY(357deg);
}




.left {
    margin-left: 17%;
    margin-right: 20%;
}
.right {
    margin-left: 20%;
    margin-right: 17%;
}
.team__wrapper {
    background-color: transparent;
    color: transparent;
    margin-top: 8%;
    height: 100%;


    button {
        width: 100%;
        background-color: transparent;
        color: transparent;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        border: 0;
        padding: 0;
        display: inline-block;


        &:hover {
            background-color: transparent;
            border: 0;
            padding: 0;
            display: inline-block;
        }

        &:active {
            background-color: transparent;
            border: 0;
            padding: 0;
            display: inline-block;
        }

        &:focus {
            background-color: transparent;
            border: 0;
            padding: 0;
            display: inline-block;
        }
    }
}

.img__wrapper {
    margin-bottom: 6vh;
}

.name__wrapper {
    position: absolute;
    width: 63%;
    bottom: 19%;
}

.background-buildings_img {
    position: absolute;
    aspect-ratio: 1920/996;
    width: 100vw;
    max-width: 1920px;
    max-height: 100vh;
    bottom: 0;

    background-image: url("../images/background/background_desktop_buildings.png");
    background-repeat: no-repeat;
    background-size: contain;

}

#progress-bar {
    width: 100%;
    height: 1%;
    background-color: vars.$elohell-red;
    bottom: 0;
    z-index: 1;
    left: 0;
    transition: 1s ease-in;
}

@media (max-width: 576px) {
    .container-fluid {
        align-items: flex-end;
    }
    .main {
        background: url("../images/background/background_mobile.png") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .background-buildings_img {
        position: absolute;
        aspect-ratio: 1030/1857;
        width: 100vw;
        max-width: 1030px;
        max-height: 100vh;
        bottom: 0;


        background-image: url("../images/background/background_mobile_buildings.png");
        background-repeat: no-repeat;
        background-size: contain;

    }
    form {
        width: 70%;
        display: block ;
    }
    .logo1 {
        height: 42%;
        transform: skewY(4deg);
    }
    .logo2 {
        transform: skewY(2deg);
    }

    .left {
        margin: 17% 5% 0;
    }

    .right {
        margin: 15% 5% 0;
    }
    .right .btn .name__wrapper {
        position: absolute;
        top: 0;
    }
    .right .btn .img__wrapper {
        margin-top: 21%;
    }


    .logo__wrapper {

        .img-fluid {
            width: 100%;
            position: relative;
            cursor: pointer;
            max-width: 260px;
            max-height: 260px;
            object-fit: contain;
        }
    }


    .progress {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: -25%;
        right: 90%;
        bottom: 45%;
        height: 8%;
        width: 70%;
    }
    .name__wrapper {
        width: 90%;
        bottom: 13%;
    }


}


